.StickyNote {
  position: absolute;
  border-radius: 3px;
  border: none;
  outline: none;
  box-sizing: border-box;
  padding: 1em;
  transition: opacity 0.3s ease-out, background-color 0.3s ease-out;
}

.StickyNote--is-ready-to-delete {
  opacity: 0.9;
  background: red !important;
  cursor: url("https://i.stack.imgur.com/bUGV0.png"), auto !important;
}