.DeleteArea {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 70%;
  opacity: 0;
  transition: opacity 0.2s ease-out, background-color 0.3s ease-out;
  border: 2px dashed red;
  background: rgba(255, 0, 0, 0.1);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.DeleteArea__caption {
  color: red;
  font-size: 16px;
  width: 250px;
}

.DeleteArea--is-shown {
  opacity: 1;
}

.DeleteArea--is-ready-to-delete {
  background: rgba(255, 0, 0, 0.35);
}
