@keyframes AddNoteBtnAppear {
  0% {
    transition-timing-function: ease-in-out;
    transform: translate3d(-50%, -50%, 0) scale(0.3) rotate(90deg);
    opacity: 0;
  }

  66% {
    transform: translate3d(-50%, -50%, 0) scale(0.56) rotate(-45deg);
  }

  100% {
    transform: translate3d(-50%, -50%, 0) scale(0.5);
    opacity: 1;
  }
}

@keyframes AddNoteBtnAppearAccented {
  0% {
    transition-timing-function: ease-in-out;
    transform: translate3d(-50%, -50%, 0) scale(0.6) rotate(90deg);
    opacity: 0;
  }

  66% {
    transform: translate3d(-50%, -50%, 0) scale(1.12) rotate(-45deg);
  }

  100% {
    transform: translate3d(-50%, -50%, 0);
    opacity: 1;
  }
}

.StickyNotes {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.StickyNotes__wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.StickyNotes__overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.6);
  z-index: 9998;
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
  transition: opacity 0.3s ease-out, transform 0s linear 0.3s;
  cursor: crosshair;
}

.StickyNotes.StickyNotes--is-create-mode .StickyNotes__overlay {
  transform: none;
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.StickyNotes__add-btn {
  position: absolute;
  left: 28px;
  top: 28px;
  height: 72px;
  width: 72px;
  border-radius: 50%;
  border: 4px solid rgb(233, 143, 233);
  background:white;
  color:  rgb(233, 143, 233);
  font-size: 50px;
  list-style: 36px;
  box-shadow: 0 0 0 0 rgb(233, 143, 233);
  transition: box-shadow 0.3s ease-out, transform 0.3s ease-out, left 0.3s ease-out, top 0.3s ease-out;
  outline: none;
  cursor: pointer;
  z-index: 9999;
  transform: translate3d(-50%, -50%, 0) scale(0.5);
}

.StickyNotes__add-btn--is-being-animated {
  animation: AddNoteBtnAppear 0.6s 0.3s;
}

.StickyNotes__add-btn:hover {
  box-shadow: 0 0 10px 0 rgb(233, 143, 233);
}

.StickyNotes__add-btn--is-accented {
  transform: translate3d(-50%, -50%, 0);
  left: 50%;
  top: 50%;
}

.StickyNotes__add-btn--is-accented.StickyNotes__add-btn--is-being-animated {
  animation: AddNoteBtnAppearAccented 0.6s 0.3s;
}

.StickyNotes__add-btn-caption {
  position: absolute;
  left: 46px;
  top: 28px;
  transform: translate3d(0, -50%, 0);
  opacity: 0;
  color: rgb(233, 143, 233);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out, transform-origin 0.3s ease-out, left 0.3s ease-out, top 0.3s ease-out;
  font-size: 14px;
  width: 200px;
  z-index: 9999;
  cursor: default;
  pointer-events: none;
}

.StickyNotes__add-btn--is-accented + .StickyNotes__add-btn-caption {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  margin-top: -76px;
}

.StickyNotes.StickyNotes--is-create-mode .StickyNotes__add-btn {
  transform: translate3d(-50%, -50%, 0) scale(0.5) rotate(45deg);
}

.StickyNotes.StickyNotes--is-create-mode .StickyNotes__add-btn--is-accented {
  transform: translate3d(-50%, -50%, 0) rotate(45deg);
}

.StickyNotes.StickyNotes--is-create-mode .StickyNotes__add-btn-caption {
  transform: translate3d(1em, -50%, 0);
  opacity: 1;
  transform-origin: -18px center;
}

.StickyNotes.StickyNotes--is-create-mode .StickyNotes__add-btn--is-accented + .StickyNotes__add-btn-caption {
  transform-origin: center center;
  transform: translate3d(-50%, -50%, 0);
}

.StickyNotes__overlay .StickyNote {
  background: none;
  padding: 0;
  resize: none;
}

.StickyNotes__api-btns-wrap {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  flex-flow: row nowrap;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.StickyNotes__api-btns-wrap--is-hidden {
  opacity: 0;
  transform: translate3d(0, -1em, 0);
}

.StickyNotes__api-btn {
  line-height: 32px;
  border: 2px solid rgb(233, 143, 233);
  border-radius: 3px;
  background: none;
  color: rgb(233, 143, 233);
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 0 0 0 rgb(233, 143, 233);
  transition: box-shadow 0.3s ease-out, opacity 0.3s ease-out;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 120px;
}

.StickyNotes__api-btn:not([disabled]) {
  cursor: pointer;
}

.StickyNotes__api-btn[disabled] {
  opacity: 0.4;
}

.StickyNotes__api-btn:not([disabled]):hover {
  box-shadow: 0 0 10px 0 rgb(233, 143, 233);
}

.StickyNotes__api-btn:not(:last-child) {
  margin-right: 0.5em;
}

.StickyNotes__api-btn .spinner {
  border-color:  rgb(233, 143, 233);
  border-top-color:  rgb(175, 66, 175);
}